.all-games {
}

.washening-placeholder {
	width: 640px;
	height: 360px;
	align-self: center;
	aspect-ratio: 16/9;
	border-radius: 10px;
	background-size: cover;
	background-image: url("/images/washeningpreview.png");
	animation-name: placeholderReturn;
	animation-duration: 0.1s;
}
	.washening-placeholder:hover {
		border-style: solid;
		border-color: white;
		border-width: 5px;

		animation-name: placeholderHover;
		animation-duration: 0.1s;
	}

.candydrop-placeholder {
	width: 640px;
	height: 360px;
	align-self: center;
	aspect-ratio: 16/9;
	border-radius: 10px;
	background-size: cover;
	background-image: url("/images/candydroppreview.png");
	animation-name: placeholderReturn;
	animation-duration: 0.1s;
}
	.candydrop-placeholder:hover {
		border-style: solid;
		border-color: white;
		border-width: 5px;

		animation-name: placeholderHover;
		animation-duration: 0.1s;
	}

@keyframes placeholderHover {
	from {
		border-style: solid;
		border-color: transparent;
		border-width: 0px;
	}

	to {
		border-style: solid;
		border-color: white;
		border-width: 5px;
	}
}

@keyframes placeholderReturn {
	from {
		border-style: solid;
		border-color: white;
		border-width: 5px;
	}

	to {
		border-style: solid;
		border-color: transparent;
		border-width: 0px;
	}
}

.game-iframe-widescreen {
	width: 640px;
	height: 360px;
	align-self: center;
	aspect-ratio: 16/9;
	background-color: transparent;
	border-radius: 10px;
}

.game-iframe-custom {
	min-width: 410px;
	align-self: center;
	background-color: transparent;
	border-radius: 10px;
}