:root {
    color-scheme: light dark;
}

body {
    background-color: light-dark(white, #1E1E1E);
    font-family: monospace;
    color: light-dark(black, white);
    background-image: linear-gradient(transparent 25%, rgba(154, 205, 50, 0.1));
    background-repeat: no-repeat;
}

.acrylic {
    /* Parent background + Gaussian blur */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Safari */
    /* Exclusion blend */
    background-blend-mode: exclusion;
    /* Color/tint overlay + Opacity */
    background: light-dark(rgba(10, 10, 10, 0), rgba(10, 10, 10, .6));
    /* Tiled noise texture */
    background-image: url("/images/acrylicsmooth.png");
    background-repeat: repeat;
}

.logo {
    width: auto;
    height: 100%;
    object-fit: scale-down;
    border-radius: 25%;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0px 0px 0px gray;
    transition: box-shadow 0.1s;
}
    .logo:hover {
        box-shadow: 0px 0px 15px gray;
    }

.starting-spacer {
    height: 60px;
}

.section {
    display: flex;
    flex-wrap: nowrap;
    max-width: 95%;
    background-color: light-dark(rgba(10, 10, 10, .1), rgba(10, 10, 10, .8));
    padding: 10px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-small {
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
    background-color: light-dark(rgba(10, 10, 10, .1), rgba(10, 10, 10, .8));
    padding: 10px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-details {
    flex-grow: 1;
    min-width: 100px;
    margin-left: 10px;
    padding: 5px;
    height: auto;
    /* Color/tint overlay + Opacity */
    background: light-dark(rgba(10, 10, 10, 0), rgba(10, 10, 10, .6));
    /* Tiled noise texture */
    background-image: url("/images/acrylicsmooth.png");
    background-repeat: repeat;
    border-radius: 10px;
}

.top-bar {
    position: fixed;
    display: flex;
    width: auto;
    height: 50px;
    justify-self: left;
    align-content: center;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;

    border-radius: 10px;
}

.link-button {
    background-image: linear-gradient(#eeee00, yellowgreen);
    color: black;
    text-decoration: none;
    font-size: 15px;
    text-shadow: 0px 0px 25px white;
    align-content: center;
    text-align: center;
    min-width: 115px;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: font-size 0.1s, background-image 0.1s;
}

    .link-button:hover {
        background-image: linear-gradient(#dddd00, #5e8214);
        font-size: 17px;
    }

.vertical-divider {
    background-color: light-dark(#1E1E1E, white);
    height: 100%;
    width: 2px;
    border-radius: 5px;

    margin-left: 5px;
    margin-right: 5px;
}

.main-title {
    height: 110px;
    align-content: center;
}

.mogged {
    height: 100px;
    aspect-ratio: 1/1;
    align-self: center;
    animation-name: moggedReturn;
    animation-duration: 0.1s;
}
    .mogged:hover {
        height: 105px;
        rotate: 6deg;
        animation-name: moggedHover;
        animation-duration: 0.2s;
        animation-timing-function: ease-in-out;
    }

.mogged-inverse {
    height: 100px;
    aspect-ratio: 1/1;
    align-self: center;
    animation-name: moggedReturnInverse;
    animation-duration: 0.1s;
}

    .mogged-inverse:hover {
        height: 105px;
        rotate: -6deg;
        animation-name: moggedHoverInverse;
        animation-duration: 0.2s;
        animation-timing-function: ease-in-out;
    }

@keyframes moggedHover {
    from {
        height: 100px;
        rotate: 0deg;
    }

    75% {
        height: 110px;
        rotate: 7deg;
    }

    to {
        height: 105px;
        rotate: 6deg;
    }
}

@keyframes moggedHoverInverse {
    from {
        height: 100px;
        rotate: 0deg;
    }

    75% {
        height: 110px;
        rotate: -7deg;
    }

    to {
        height: 105px;
        rotate: -6deg;
    }
}

@keyframes moggedReturn {
    from {
        height: 105px;
        rotate: 6deg;
    }

    to {
        height: 100px;
        rotate: 0deg;
    }
}

@keyframes moggedReturnInverse {
    from {
        height: 105px;
        rotate: -6deg;
    }

    to {
        height: 100px;
        rotate: 0deg;
    }
}


