:root {
    color-scheme: light dark;
}

body {
    background-color: light-dark(white, #1E1E1E);
    font-family: monospace;
    color: light-dark(black, white);
}

a {

}
    a:link {
        color: light-dark(#81b319, #81b319);
    }

    a:visited {
        color: light-dark(royalblue, lightblue);
    }

    a:hover {
        color: light-dark(black, white);
    }

button {
    background-color: #81b319;
    color: white;
    font-size: 15px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #5e8214;
    }
